// We use the Responsive font-sizing of Bootstrap by enabling the responsive-font-sizes boolean.
$enable-responsive-font-sizes: true; // Leave this on true

// Set the maximum font-sizes here,
// the Boostrap RFS takes care of the rest
// You can add more key value pairs,
// like an intro text for example:
// intro: 18px,
//
// Use it like this:
// @include get-font-size(intro);
$font-sizes: (
  h1: 68px,
  h2: 44px,
  h3: 56px,
  h4: 36px,
  h5: 28px,
  h6: 24px,
  default: 18px,
);
